@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.bg-image {
  background-image: url('/Signup.webp'); 
  background-size: cover;          
  background-position: center;   
  background-repeat: no-repeat;  
  height: 100vh;              
  position: relative;  
   
}
.landingheader{
  background-image: url('/loanheader.webp'); 
  background-size: cover;          
  background-position: center;   
  background-repeat: no-repeat;
  height: 100%;
  position: relative; 
  display: inline-block; 
  width: 100%; 
  position: relative;
  overflow: hidden;

}
.landingfooter{
  background-image: url('/loanfooter.webp'); 
  background-size: cover;          
  background-position: center;   
  background-repeat: no-repeat;
  height: 100%;
  position: relative; 
  display: inline-block; 
  width: 100%; 
  position: relative;
  overflow: hidden;
}


.signup{
  box-shadow: 2px 6px 6px 6px #010059;
}

.bg{
  background-color: #050366 ;
}
.imgBorder {
  box-shadow: 
    -1px -1px 0px #0589e6, 
     1px 1px 0px #B3FFFF;  
}
.navborder{
  box-shadow: 
    -1px -1px 0px 1px #B3FFFF, 
    1px 1px 1px 1px #B3FFFF;  
}

@media (max-width: 640px){
  .signup{
    box-shadow: 2px 6px 6px 6px #06047e;
  }
}

.button{
    background: linear-gradient(to var(--tw-gradient-to-direction, bottom), #1d4ed8, rgba(29, 78, 216, 0));
    --tw-gradient-from-position: 0%;
    --tw-gradient-via-position: 53%;
    --tw-gradient-to-position: 100%;
    --tw-gradient-to-direction: right; 
    --tw-gradient-from: #2e4c33;
    --tw-gradient-via: #221ebf;
    --tw-gradient-to: #040f75;
}
.responsive{
    background: linear-gradient(to var(--tw-gradient-to-direction, bottom), #020f34, rgba(12, 2, 89, 0));
    --tw-gradient-from-position: 0%;
    --tw-gradient-via-position: 53%;
    --tw-gradient-to-position: 100%;
    --tw-gradient-to-direction: bottom; 
    --tw-gradient-from: #06047e;
    --tw-gradient-via: #06047e;
    --tw-gradient-to: #09079a;
}
.heading {
  background: linear-gradient(to right, #FFFFFF, #427DD5); 
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent; 
}


 

/* form  */
.form-bg-image {
  background-image: url('/form/bgImage.webp'); 
  background-size: cover;          
  background-position: center;   
  background-repeat: no-repeat;  
  min-height: 100vh; /* Ensure it covers the full viewport height */
  height: auto;      /* Allow it to expand with content */
  position: relative;
  background-color: #C0F7FB;
}

.form-slidebar{
  background-image: url('/form/sideBar.webp'); 
  background-size: cover;          
  background-position: center;   
  background-repeat: no-repeat; 
  max-height: 100%; 
  height: 800px;   
  width: 400px;          
  position: relative;  
   
}



/* CSS for animations */
@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

.group:hover .hover-underline {
  animation: expandUnderlineHover 0.5s ease-out forwards;
}

.hover-underline {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 0;
  height: 4px;
  background: linear-gradient(to right, #3b82f6, #10b981); /* Blue to green gradient */
  border-radius: 9999px;
}

@keyframes expandUnderlineHover {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


